nav {
    background-color: var(--nav-bg);
    border-bottom: 1px solid var(--border-color);
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top 0.3s ease; /* 修改为平滑滚动动画 */
}

nav.hidden {
    top: -240px; /* 隐藏导航栏，具体高度根据导航栏实际高度调整 */
}

nav > .inner {
    max-width: 980px;
    margin: auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a, nav a:hover, nav a:focus, nav a:active, nav a:link, nav a:visited {
    text-decoration: none;
    color: var(--black-4);
}

nav .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 48px;
    color: var(--black-2)!important;
}

nav .nav-items {
    display: flex;
    gap: 16px;
}

nav .nav-item {
    font-size: 16px;
    line-height: 48px;
    transition: color 0.5s;
}

nav .nav-item:hover, nav .nav-item:focus {
    color: var(--black-2);
}

/* 响应式布局 */
@media screen and (max-width: 600px) {
    nav .inner {
        flex-direction: column;
        align-items: center;
    }

    nav .nav-items {
        flex-direction: column;
        gap: 8px;
    }

    nav .title {
        margin-bottom: 8px;
    }
}
